<!DOCTYPE html>
<meta charset="utf-8">
<style>
    .links line {
        stroke: #999;
        stroke-opacity: 0.6;
    }
div.tooltip {	
    position: absolute;			
    text-align: center;							
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightgray;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

/*.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}*/
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.js"></script>
<div id="menu" class="col-md-12">
    <h1>Network</h1>
    <select id="dataset" class="selectpicker">
        <option disabled selected value> -- select dataset -- </option>
        <option value="datatop5_monthly cat12345.json">top5_all</option>
        <option value="datatop5_monthly cat1.json">top5 brands</option>
        <option value="datatop5_monthly cat13.json">top5 brands-artists</option>
        <option value="datatop5_monthly cat3.json">top5 artists</option>
        <option value="data_0.json">all</option>
        <option value="data_1.json">1perent</option>
    </select>
    <form id="radioNameEncoding">
        <br> node size encoding
        <label class="radio-inline"></label>
        <input type="radio" name="nodeEncoding" id="radioNone" value="none" checked="checked">None</label>
        <label class="radio-inline"></label>
        <input type="radio" name="nodeEncoding" id="radioDegree" value="degree">Degree</label>
        <label class="radio-inline"></label>
        <input type="radio" name="nodeEncoding" id="radioBetweenness" value="betweenness">Betweenness</label>
    </form>
    <form id="radioColorEncoding">
        <br> Color encoding
        <label class="radio-inline">
            <input type="radio" name="nodeColorEncoding" id="radioCategory" value="group" checked="checked">category</label>
        <label class="radio-inline">
            <input type="radio" name="nodeColorEncoding" id="radioPartition" value="partition" >partition</label>
       
    </form>
    <select class="selectpicker" data-live-search="true" id="nodeSelector" title="-- select page --">
    </select>
</div>
<div id="leftPane" class="col-md-4">
    <div id="networkStructure">
        <svg width="640" height="500" id="svg"></svg>
    </div>
    <input id="timeSlider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="8" data-slider-step="1" data-slider-value="0"/>
    
</div>
<div id="rightPane" class="col-md-8">
    <svg id="barchart"></svg>
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
    var MAX_RADIUS = 20;
    var RADIUS = 6.5;
    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    var color = d3.scaleOrdinal(d3.schemeCategory10);
    var colorEncoding = "group"
    var isNodeClicked = false;
    var nodeIdClicked;
    var nodeList;
    var edgeList;
    var pageInfo;
    var simulation;
    var category;
    var selectMonth ="0";
    var nodeSizeEncoding="none";
    var nodeSizeScale={};
    var tooltipDiv = d3.select("body").append("div")	
        .attr("class", "tooltip")				
        .style("opacity", 0);
    $("#timeSlider").slider({
        tooltip: 'always',
        focuse:true
    });
    $("#timeSlider").on("slide",function(slideEvt){
        if((slideEvt.value+"")!=selectMonth){
            selectMonth = slideEvt.value+"";
            var nodes = d3.selectAll("circle")
            .transition()
            .delay(0)
            .duration(200)
            .attr("r", function (d) {
                if(selectMonth in pageInfo[d["id"]]){
                    if (nodeSizeEncoding == "none") {
                        return RADIUS;
                    }
                    return RADIUS +  nodeSizeScale[selectMonth][nodeSizeEncoding](pageInfo[d["id"]][selectMonth][nodeSizeEncoding]);
                }
                else{
                    return 0;
                }
            });
            simulation
            .force("collide", d3.forceCollide().radius(function (d) {
                if(selectMonth in pageInfo[d["id"]]){
                    if (nodeSizeEncoding == "none") {
                        return RADIUS;
                    }
                    return RADIUS +  nodeSizeScale[selectMonth][nodeSizeEncoding](pageInfo[d["id"]][selectMonth][nodeSizeEncoding])+0.5;
                }
                else{
                    return 0;
                }
            }).iterations(5))
            var focuseNode = nodeIdClicked;
            //isNodeClicked = false;
            highlightNode(focuseNode);
            //isNodeClicked = true;
            //highlightNode(focuseNode);
            updateBarChart(focuseNode);
        }
       
    })
    $('#dataset')
        .on("change", function () {
            var dataset = document.getElementById("dataset")
            var filePath = dataset.options[dataset.selectedIndex].value;
            document.getElementById("radioNone").checked = true;
            document.getElementById("radioCategory").checked = true;
            colorEncoding = "group";
            nodeSizeEncoding ="none";
            isNodeClicked = false;
            nodeIdClicked = "";
            loadDataSet(filePath);
        });
    $("input[name='nodeColorEncoding']").on("change", function () {
        colorEncoding = this.value;
        highlightNode(nodeIdClicked);
    });
    $('#nodeSelector')
        .on("change", function () {
            isNodeClicked = true;
            var nodeSelector = document.getElementById("nodeSelector")
            highlightNode(nodeSelector.options[nodeSelector.selectedIndex].value);
            document.getElementById("barchart").innerHTML="";
            updateBarChart(nodeSelector.options[nodeSelector.selectedIndex].value)
        });
    $("input[name='nodeEncoding']").on("change", function () {
        nodeSizeEncoding = this.value;
        var nodes = d3.selectAll("circle")
            .transition()
            .delay(0)
            .duration(200)
            .attr("r", function (d) {
                if(selectMonth in pageInfo[d["id"]]){
                    if (nodeSizeEncoding == "none") {
                        return RADIUS;
                    }
                    return RADIUS +  nodeSizeScale[selectMonth][nodeSizeEncoding](pageInfo[d["id"]][selectMonth][nodeSizeEncoding]);
                }
                else{
                    return 0;
                }
            });

        nodes.each(function (d, i) {  
                d3.select(this).on("mouseover", function(d) {
                    var text = "";
                    if(selectMonth in pageInfo[d["id"]]){
                        if (nodeSizeEncoding == "none") {
                            text= pageInfo[d["id"]].name;
                        }
                        else{
                            text= pageInfo[d["id"]].name + ' ' + nodeSizeEncoding + '=' + pageInfo[d["id"]][selectMonth][nodeSizeEncoding].toFixed(6);
                        }
                    }else{
                        text= pageInfo[d["id"]].name;
                    }	
                    tooltipDiv.transition()		
                    .duration(100)		
                    .style("opacity", 1);		
                    tooltipDiv.html(text )	
                    .style("left", (d3.event.pageX) + "px")		
                    .style("top", (d3.event.pageY - 28) + "px");	
                })					
                d3.select(this).on("mouseout", function(d) {		
                    tooltipDiv.transition()		
                    .duration(200)		
                    .style("opacity", 0);
            });
        })
        simulation
            .force("collide", d3.forceCollide().radius(function (d) {
                if(selectMonth in pageInfo[d["id"]]){
                    if (nodeSizeEncoding == "none") {
                        return RADIUS;
                    }
                    return RADIUS +  nodeSizeScale[selectMonth][nodeSizeEncoding](pageInfo[d["id"]][selectMonth][nodeSizeEncoding])+0.5;
                }
                else{
                    return 0;
                }
            }).iterations(5))
        simulation.alphaTarget(0.3).restart();


    });
    function loadDataSet(filePath) {
        document.getElementById("svg").innerHTML = '';
        document.getElementById("barchart").innerHTML="";
        simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function (d) { return d.id; }))
            .force("forceX", d3.forceX().strength(.1).x(width * .5))
            .force("forceY", d3.forceY().strength(.1).y(height * .5))
            .force("charge", d3.forceManyBody().strength(-40))
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force("collide", d3.forceCollide().radius(function (d) {
                return RADIUS + 0.5;
            }).iterations(5))
        d3.json(filePath, function (error, graph) {
            if (error) throw error;
            pageInfo = jQuery.extend(true, {}, graph['page_info']);;
            nodeList = jQuery.extend(true, {}, graph['nodes']);;
            edgeList = jQuery.extend(true, {}, graph['links']);;
            category = graph['category']
            createNodeSizeScale(graph['range']);
            //generate option for nodeSelector
            $('#nodeSelector').empty()
            for (var i = 0; i < nodeList[selectMonth].length; i++) {
                $('#nodeSelector').append('<option value="' + nodeList[selectMonth][i]["id"] + '">' + pageInfo[nodeList[selectMonth][i]["id"]]["name"] + '</option>');
            }

            $('#nodeSelector').selectpicker("refresh");
            $('#nodeSelector').selectpicker('val', null);
            var link = svg.append("g")
                .attr("class", "links")
                .selectAll("line")
                .data(graph['links'][selectMonth])
                .enter().append("line")
                .attr("stroke-width", function (d) { return Math.sqrt(d.value); });

            var node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("circle")
                .data(graph['nodes'][selectMonth])
                .enter().append("circle")
                .attr("class", function (d) { return "nodes name" + pageInfo[d["id"]].name + " id" + d.id })
                .attr("r", function (d) { return RADIUS; })
                .attr("fill", function (d) {
                    if(selectMonth in pageInfo[d["id"]]){
                            return color(pageInfo[d["id"]][selectMonth][colorEncoding]);
                        }
                        return "#000"
                })
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended))
                .on("click", function (d) {
                    if (d["id"] == nodeIdClicked) {
                        isNodeClicked = !isNodeClicked;
                    }
                    else {
                        isNodeClicked = true;
                    }
                    highlightNode(d["id"]);
                    updateBarChart(d["id"]);
                });;

            node.on("mouseover", function(d) {		
                tooltipDiv.transition()		
                .duration(100)		
                .style("opacity", 1);		
                tooltipDiv.html(pageInfo[d["id"]].name )	
                .style("left", (d3.event.pageX) + "px")		
                .style("top", (d3.event.pageY - 28) + "px");	
            })					
            node.on("mouseout", function(d) {		
                tooltipDiv.transition()		
                .duration(200)		
                .style("opacity", 0);	
        });
            simulation
                .nodes(graph['nodes'][selectMonth])
                .on("tick", ticked);

            simulation.force("link")
                .links(graph['links'][selectMonth]);

            function ticked() {
                link
                    .attr("x1", function (d) { return d.source.x; })
                    .attr("y1", function (d) { return d.source.y; })
                    .attr("x2", function (d) { return d.target.x; })
                    .attr("y2", function (d) { return d.target.y; });

                node
                    .attr("cx", function (d) { return d.x; })
                    .attr("cy", function (d) { return d.y; });
            }
        });
    }
    function createNodeSizeScale(scoreRange){
        for(var month in scoreRange){
            nodeSizeScale[month] = {};
            for(var sizeEncoding in scoreRange[month]){
                var min = scoreRange[month][sizeEncoding]['min'];
                var max =scoreRange[month][sizeEncoding]['max'];
                if(min==1){
                    min=0;
                }
                if(max==0){
                    max=1;
                }
                nodeSizeScale[month][sizeEncoding] = d3.scaleLinear().domain([min,max]).range([0,MAX_RADIUS]);
            }
        }
    }
    function highlightNode(pageID) {
        if (isNodeClicked) {
            nodeIdClicked = pageID;
            d3.selectAll("circle")
                .attr("fill", "#e6f2ff")
                .attr("stroke", null)
                .attr("stroke-width", null)
                .attr("stroke-dasharray",null);
            d3.selectAll("rect")
            .attr("fill", function (d) {
                if(selectMonth in pageInfo[d["key"]]){
                            return color(pageInfo[d["key"]][selectMonth][colorEncoding]);
                        }
                        return "#000"
                })
            d3.select("circle.id" + pageID)
                .attr("fill", function (d) {
                    if(selectMonth in pageInfo[d["id"]]){
                            return color(pageInfo[d["id"]][selectMonth][colorEncoding]);
                        }
                        return "#000"
                })
                .attr("stroke", "black")
                .attr("stroke-width", "3")
            for(var i=0;i<category.length;i++){
                if(selectMonth in pageInfo[pageID]){
                    cat = pageInfo[pageID][selectMonth][category[i]];
                    for (var j=0;j<cat.length;j++){
                        var connectedPageID = cat[j][1];
                        d3.select("circle.id"+connectedPageID)
                        .attr("stroke", "black")
                        .attr("stroke-width", "3")
                        .attr("stroke-dasharray","3,3")
                    }
                }
            }

            for (var i = 0; i < edgeList[selectMonth].length; i++) {
                var connectedPageID="";
                if (edgeList[selectMonth][i]["source"] == pageID) {
                    connectedPageID = edgeList[selectMonth][i]["target"];
                }
                else if (edgeList[selectMonth][i]["target"] == pageID) {
                    connectedPageID = edgeList[selectMonth][i]["source"];
                }
                if(connectedPageID!=""){
                    d3.select("circle.id" + connectedPageID)
                        .attr("fill", function (d) {
                            if(selectMonth in pageInfo[d["id"]]){
                                return color(pageInfo[d["id"]][selectMonth][colorEncoding]);
                            }
                            return "#000"
                        });
                }
            }
            $('#nodeSelector').selectpicker('val', pageID);
        }
        else {
            nodeIdClicked = "";
            d3.selectAll("circle")
                .attr("fill", function (d) {
                    if(selectMonth in pageInfo[d["id"]]){
                            return color(pageInfo[d["id"]][selectMonth][colorEncoding]);
                        }
                        return "#000"
                })
                .attr("stroke", null)
                .attr("stroke-width", null);
                d3.selectAll("rect")
                .attr("fill", function (d) {
                    if(selectMonth in pageInfo[d["key"]]){
                            return color(pageInfo[d["key"]][selectMonth][colorEncoding]);
                        }
                        return "#000"
                })
            $('#nodeSelector').selectpicker('val', null);
        }
    }
    function updateBarChart(pageID) {
        document.getElementById("barchart").innerHTML="";
        if (isNodeClicked) {
            drawBarChart(pageID);
        }
    }
    function drawBarChart(pageID){
        var data = generateDataForBarChart(pageID);
            var margin = {
                top: 20,
                right: 20,
                bottom: 150,
                left: 70
            },
                width = 800 - margin.left - margin.right,
                height = 360 - margin.top - margin.bottom;
            var bar_color = {
                brand: color(1),
                media: color(2),
                artist: color(3)
            };
            var max_bar_width=20; //TODO set limit rect width  
            var barPadding = 40;
            var rangeBands = [];
            var cummulative = 0;
            data.forEach(function (val, i) {
                val.cummulative = cummulative;
                cummulative += val.values.length;
                val.values.forEach(function (values) {
                    values.parentKey = val.key;
                    rangeBands.push(i);
                })
            });

            var x_category = d3.scaleLinear()
                .range([0, width]);


            var x_defect = d3.scaleBand().domain(rangeBands).range([0, width]).padding([0.1]);
            var x_category_domain = x_defect.bandwidth() * rangeBands.length;
            x_category.domain([0, x_category_domain]);


            var y = d3.scaleLinear()
                .range([height, 0]);

            y.domain([0, d3.max(data, function (cat) {
                return d3.max(cat.values, function (def) {
                    return def.value;
                });
            })]);

            var category_axis = d3.axisBottom(x_category);
            var yAxis = d3.axisLeft(y).tickFormat(d3.format(".2%"));
            var svg = d3.select("svg#barchart")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .style('background-color', 'EFEFEF')
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Value");

            var category_g = svg.selectAll(".category")
                .data(data)
                .enter().append("g")
                .attr("class", function (d) {
                    return 'category category-' + d.key;
                })
                .attr("transform", function (d) {
                    return "translate(" + x_category((d.cummulative * x_defect.bandwidth())) + ",0)";
                })
                // .attr("fill", function (d) {
                //     return bar_color[d.key];
                // });

            var category_label = category_g.selectAll(".category-label")
                .data(function (d) {
                    return [d];
                })
                .enter().append("text")
                .attr("class", function (d) {
                    return 'category-label category-label-' + d.key;
                })
                .attr("transform", function (d) {
                    var x_label = x_category((d.values.length * x_defect.bandwidth() + barPadding) / 2);
                    var y_label = 0;
                    return "translate(" + x_label + "," + y_label + ")";
                })
                .text(function (d) {
                    return d.key;
                })
                .attr('text-anchor', 'middle');

            var defect_g = category_g.selectAll(".defect")
                .data(function (d) {
                    return d.values;
                })
                .enter().append("g")
                .attr("class", function (d) {
                    return 'defect defect-' + d.key;
                })
                .attr("transform", function (d, i) {
                    return "translate(" + x_category((i * x_defect.bandwidth())) + ",0)";
                });

            var defect_label = defect_g.selectAll(".defect-label")
                .data(function (d) {
                    return [d];
                })
                .enter().append("text")
                .attr("class", function (d) {
                    return 'defect-label defect-label-' + d.key;
                })
                .attr("transform", function (d) {
                    var x_label = x_category((x_defect.bandwidth() + barPadding) / 2);
                    var y_label = height+10;
                    return "translate(" + x_label + "," + y_label + "),rotate(-60)";
                })
                .text(function (d) {
                    return pageInfo[d.key]["name"];
                })
                .attr('text-anchor', 'end');


            var rects = defect_g.selectAll('.rect')
                .data(function (d) {
                    return [d];
                })
                .enter()
                .append("rect")
                .attr("class", "rect")
                .attr("width", x_category(x_defect.bandwidth() - barPadding))
                .attr("x", function (d) {
                    return x_category(barPadding);
                })
                .attr("y", function (d) {
                    return height;
                })
                .attr("height",0)
                .attr("fill",function(d){
                    return color(pageInfo[d["key"]][selectMonth][colorEncoding]);
                })
                .transition()
                .duration(1000)
                .attr("y", function (d) {
                    return y(d.value);
                })
                .attr("height", function (d) {
                    return height - y(d.value);
                });
    }
    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }
    function generateDataForBarChart(pageID) {
        var data = []
        for (var i = 0; i < category.length; i++) {
            if(selectMonth in pageInfo[pageID]){
                var cat = pageInfo[pageID][selectMonth][category[i]];
                var dataInCat = { 'key': category[i], 'values': [] };
                for (var j = 0; j < cat.length; j++) {
                    var score = cat[j][0];
                    var connectedPageID = cat[j][1];
                    var connectedPageName = cat[j][2]
                    dataInCat['values'].push({ 'key': connectedPageID, 'value': score })
                }
                data.push(dataInCat)
            }
        }
        return data;
    }
</script>