<!DOCTYPE html>
<meta charset="utf-8">
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

</style>
<h1>Network</h1>
<select id="dataset">
    <option disabled selected value> -- select dataset -- </option>
    <option value="datatop5.json">top5</option>
    <option value="data_0.json">all</option>
    <option value="data_1.json">1perent</option>
</select>
<form id="radioNameEncoding">
    <input type="radio" name="nodeEncoding" value="none" checked="checked">None
    <input type="radio" name="nodeEncoding" value="degree" >Degree
    <input type="radio" name="nodeEncoding" value="betweenness">Betweenness
    <input type="radio" name="nodeEncoding" value="closeness">Closeness
    <input type="radio" name="nodeEncoding" value="eigenvector">Eigenvector
</form>
<svg width="1280" height="800" id="svg"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
// var file_list =["data_0.json","data_1.json","datatop5.json"]
// var filePath = file_list[2]
factor =100
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);
var node;
var simulation;
d3.select('#dataset')
    .on("change", function () {
        var dataset = document.getElementById("dataset");
        var filePath = dataset.options[dataset.selectedIndex].value;
        console.log(filePath)
        loadDataSet(filePath)
    });
d3.selectAll("input[name='nodeEncoding']").on("change", function(){
    var attribute = this.value;
    d3.selectAll("circle")
    .transition()
    .delay(0)
    .duration(200)
    .attr("r", function(d) { 
        if(attribute=="none"){
            return 5;
        }
        return 5+ (factor*d[attribute]);  });
    simulation
    .force("collide", d3.forceCollide().radius(function(d)
    {
        if(attribute=="none"){
            return 5+0.5;
        }
        return 5+ (factor*d[attribute]) + 0.5;
    }).iterations(5))
    
    
});
function loadDataSet(filePath){
    var svgNode = document.getElementById("svg");
    svgNode.innerHTML = '';
    simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("forceX", d3.forceX().strength(.1).x(width * .5))
    .force("forceY", d3.forceY().strength(.1).y(height * .5))
    .force("charge", d3.forceManyBody().strength(-40))
    .force("center", d3.forceCenter(width / 2, height / 2))
    .force("collide", d3.forceCollide().radius(function(d)
    {
        return 5+ (factor*d.betweenness) + 0.5;
    }).iterations(5))
    d3.json(filePath, function(error, graph) {
    if (error) throw error;
        
    var link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(graph.links)
        .enter().append("line")
        .attr("stroke-width", function(d) { return Math.sqrt(d.value); });
        
    var node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(graph.nodes)
        .enter().append("circle")
        .attr("class",function(d){ return "nodes "+d.name+" "+d.id})
        .attr("r", function(d) { return 5; })
        .attr("fill", function(d) { 
            // switch (d.group){
            //     case 1: return "#1f77b4";
            //     case 2: return "#ff7f0e"
            //     case 3: return "#2ca02c"
            //     default: return "#ff7f0e"
            // }
            return color(d.partition); 
            })
        .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

    node.append("title")
        .text(function(d) { return d.name+ ' betweenness='+d.betweenness; });

    simulation
        .nodes(graph.nodes)
        .on("tick", ticked);

    simulation.force("link")
        .links(graph.links);

    function ticked() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
    }
    });
}
function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}
</script>